[package]
name = "graphix-derive"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
syn = "2"
quote = "1"
proc-macro2 = "1"
cargo_toml = { workspace = true }
graphix-compiler = { version = "0.3.1", path = "../graphix-compiler" }
